/*Animaçoes*/
@keyframes up {
    from {  /*onde começa */
        opacity: 0;
        transform: translateY(16px);/*indo de cima p/ baixo*/
    }

    to {    /*onde termina*/
        opacity: 1;
        transform: translateY(0); /*vindo de baixo p/ cima*/
    }
}

/*animação da page localize*/
@keyframes right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-up {
    animation-name: up; /*nome do keyframe*/
    animation-duration: 300ms; /*duração em mili-segundos*/
    animation-fill-mode: backwards; /*aplicão as ultimas propriedades do "to" e fiquem aplicadas*/
}

.animate-right {
    animation-name: right;
    animation-duration: 300ms;
}